<!-- subscribe -->
<div class="subscribe agileits-w3layouts">
    <div class="container">
        <div class="col-md-6 subscribe-right">
            <h3 class="w3ls-title">Subscribe to Our <br><span>Newsletter</span></h3>
            <form action="/" method="post">
                <input type="email" name="email" placeholder="Enter your Email..." required="">
                <input type="submit" value="Subscribe">
                <div class="clearfix"> </div>
            </form>
            <img src="{{ asset('assets') }}/images/i1.png" class="sub-w3lsimg" alt=""/>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //subscribe -->
<!-- footer -->
<div class="footer agileits-w3layouts">
    <div class="container">
        <div class="w3_footer_grids">
            <div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
                <h3>company</h3>
                <ul>
                    <li><a href="/">About Us</a></li>
                    <li><a href="/">Contact Us</a></li>
                    <li><a href="/">Careers</a></li>
                    <li><a href="/">Partner With Us</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
                <h3>help</h3>
                <ul>
                    <li><a href="/">FAQ</a></li>
                    <li><a href="/">Returns</a></li>
                    <li><a href="/">Order Status</a></li>
                    <li><a href="/">Offers</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
                <h3>policy info</h3>
                <ul>
                    <li><a href="/">Terms & Conditions</a></li>
                    <li><a href="/">Privacy Policy</a></li>
                    <li><a href="/">Return Policy</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 footer-grids w3-agileits">
                <h3>Menu</h3>
                <ul>
                    <li><a href="/">All Day Menu</a></li>
                    <li><a href="/">Lunch</a></li>
                    <li><a href="/">Dinner</a></li>
                    <li><a href="/">Flavours</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="copyw3-agile">
    <div class="container">
        <p>&copy; 2019 | FIRAT ATALAY | All rights reserved | Design by W3layouts</p>
    </div>
</div>
<!-- //footer -->