{% extends 'adminbase.html.twig' %}

{% block title %}New Restaurant{% endblock %}

{% block body %}
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <!-- TABLO BAŞLANGICI-->
                        <div class="map-data m-b-40">

                            <h4>Create new Restaurant</h4>
                            <br>
                            {{ include('admin/food/_form.html.twig') }}

                            <a href="{{ path('admin_food_index') }}" class="btn btn-outline-primary btn-sm" >Back to List</a>



                        </div>
                        <!-- TABLO SONU!-->
                    </div>
                </div>

            </div>
        </div>
    </div>



{% endblock %}
